<!-- <div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    <br/>
    <input type="password" class="form-control" name="password" placeholder="Password" required="" />
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onLoginSubmit()">Login</button>
  </form>

</div> -->
<div>
  <div id="main">
    <div id="prev" class="arrow">‹</div>
    <div id="area"></div>
    <div id="next" class="arrow">›</div>
  </div>