body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

body {
	overflow: hidden;
}
#main {
	position: absolute;
	width: 100%;
	height: 100%;
}
#area {
	width: 80%;
	height: 80%;
	margin: 5% auto;
	max-width: 1250px;
}
#area iframe {
	border: none;
}
#prev {
	left: 40px;
}
#next {
	right: 40px;
}
.arrow {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	font-size: 64px;
	color: #E2E2E2;
	font-family: arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.arrow:hover {
	color: #777;
}
.arrow:active {
	color: #000;
}
